.post {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #9c7eee;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
    display: flex;
    flex-direction: column;
}

.author {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
}

.text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
}

.date {
    font-size: 0.7rem;
    margin: auto 0 0 auto;
    color: lightgray;
    text-align: end;
    width: 40%;
}

.footer {
    border-top: 1px solid #593884;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 0.8rem;
    color: white;
    background-color: rgba(0, 64, 255, 0.557);
    border: none;
    cursor: pointer;
    margin: 1rem 0 0 0;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-out;
}

.edit:hover {
    background-color: rgba(0, 64, 255, 0.85);
}

.delete {
    background-color: rgba(255, 0, 64, 0.515);
}

.delete:hover {
    background-color: rgba(255, 0, 64, 0.85);
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
